body {
    display: flex;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* centra verticalmente */
    height: 100vh;             /* ocupa toda la altura de la ventana */
    background-color: #f5f5f5;
    margin: 0;
  }

.matriz {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* 3 columnas de 100px cada una */
    grid-gap: 100px;                          /* espacio entre botones */
    justify-content: center;
  }