<button (click)="randomize()">Randomize</button>
<p>a</p>
<p>{{ayuda}}</p>

<div class="matriz">
    <app-nicho *ngFor="let item2 of map | keyvalue" [mymap] = "item2.value">a</app-nicho>
</div>
<div style="display:block; width:600px; margin:50px auto;">
  <input [(ngModel)]="textoBuscar">
  <button (click)="buscar()">Buscar</button>
  <br>
  <input type="radio" name="opcion1" (click)="usuario()">
  Usuario
  <br>
  <input type="radio" name="opcion1" (click)="ciudad()">
  Ciudad
  <canvas
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="'bar'">
  </canvas>
</div>
<div style="display:block; width:600px; margin:50px auto;">
  <canvas
    baseChart
    [data]="barChartData2"
    [options]="barChartOptions2"
    [type]="'bar'">
  </canvas>
  <button *ngFor="let item of nichos" (click)="nichoSelec(item)">{{item}}</button>
</div>

<router-outlet />
